<div class="page-wrapper chiller-theme toggled">
	<!-- <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
		<i class="fas fa-bars"></i>
	</a> -->
	<nav id="sidebar" class="sidebar-wrapper">
		<div class="sidebar-content">
			<div class="sidebar-brand">
				<a href="#">Parwaaz Angular Project</a>
				<!-- <div id="close-sidebar">
					<i class="fas fa-times"></i>
				</div> -->
			</div>
			<div class="sidebar-header">
				<div class="user-pic text-white">
					<fa-icon [icon]="faUserCircle" size="3x"></fa-icon>
				</div>
				<div class="user-info">
					<span class="user-name">{{ user?.name }} </span>
					<span class="user-role">{{ user?.role }}</span>
				</div>
			</div>
			<!-- sidebar-search  -->
			<div class="sidebar-menu">
				<ul *ngFor="let item of sideBarItems">
					<li *ngIf="item.isHeader" class="header-menu">
						<span>{{ item.title }}</span>
					</li>
					<li *ngIf="!item.isHeader" class="sidebar-dropdown">
						<a href="#">
							<fa-icon class="faIcons" [icon]="item.icon"></fa-icon>
							<span>{{ item.title }}</span>
						</a>
					</li>
				</ul>
			</div>
			<!-- sidebar-menu  -->
		</div>
		<!-- sidebar-content  -->
	</nav>
	<!-- sidebar-wrapper  -->
	<main class="page-content">
		<div class="container-fluid"></div>
	</main>
	<!-- page-content" -->
</div>
